/* css reset */

*{

margin: 0;
padding: 0;
box-sizing: border-box;

}

/* regole generali */

h1{
    font-size: 70px;
    font-weight: 800;
}

h2{
    font-size: 45px;
    margin-bottom: 40px;
}


body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}

/* Header */

header{
    position: fixed;
    padding: 15px 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid grey;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo{
    height: 25px;
}

header a{
    text-decoration: none;
    color: black;
}


/* Button */

.button {
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.button-primary{
    background-color: #0062FE;
    color: white;

}

.button-primary:hover{
    background-color: lightgrey;
}


/* Jumbotron */

.jumbotron{
    padding-top: 150px;
    padding-bottom: 50px;
 background-color: #B4D0E7;
 border-bottom: 1px solid grey;
}

.container-large {
    max-width: 1200px;
    margin: 0 auto;
    padding:0 20px;

}

.jumbo-content{
    display: flex;
    gap: 30px;
}

.jumbo-text{
    width: 30%;
    flex-shrink: 0;
}

.jumbo-text p {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.5;
}

.jumbo-image{
    width: 70%;
}

.jumbo-image img{
    max-width: 100%;
    display: block;
}

/* piani business */

.container-small{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.plans-section{
    padding: 100px 0;
}

.billing-options{
    margin-bottom: 20px;
}

.plans-grid{
    display: flex;
    gap: 30px ;
    flex-wrap: wrap;
}

.plan-card{
    border: 1px solid grey;
    width: calc((100% - 60px) / 3);
    min-height: 400px;
}

.plan-card-horizontal{
    border: 1px solid gray;
    width: 100%;

}

/* section partner */



.partner-section{
padding: 50px 0;

}

.partner-content{
    display: flex;
    gap: 30px;
    align-items: center;
}

.partner-img{
    width: 60%;
}

.partner-text{
    width: 40%;
}

.partner-img img{
    width: 100%;
}

