/* css reset */

*{

margin: 0;
padding: 0;
box-sizing: border-box;

}

/* regole generali */

h1{
    font-size: 70px;
    font-weight: 800;
}

h2{
    font-size: 40px;
    margin-bottom: 40px;
}

h3{
    font-size: 30px;
    margin-bottom: 15px;

}


body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}

/* Header */

header{
    position: fixed;
    padding: 15px 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid grey;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo{
    height: 25px;
}

header a{
    text-decoration: none;
    color: black;
}


/* Button */

.button {
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: #0062FE;
    color: white;
}

.button-card{
   display: flex;
   justify-content: center;

}

.button:hover{
    background-color: lightgrey;
}

.button-partner{
    background-color: white ;
    color: black;
    border: 1px solid black;

}
  

/* Jumbotron */

.jumbotron{
    padding-top: 150px;
    padding-bottom: 50px;
 background-color: #B4D0E7;
 border-bottom: 1px solid grey;
}

.container-large {
    max-width: 1200px;
    margin: 0 auto;
    padding:0 20px;

}

.jumbo-content{
    display: flex;
    gap: 30px;
}

.jumbo-text{
    width: 30%;
    flex-shrink: 0;
}

.jumbo-text p {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.5;
}

.jumbo-image{
    width: 70%;
}

.jumbo-image img{
    max-width: 100%;
    display: block;
}

/* piani business */



.container-small{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
.price-container{
 margin-bottom: 25px; 
    min-height: 40px;

}

.plans-section{
    padding: 100px 0;
}

.billing-options{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.option{
    display: flex;
    align-items: center;
    gap: 5px;
}

.card-header{
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 0;
    text-align: center;
}

.card-body{
    padding: 30px 25px;
}

.plan-card h4{
    font-size: 24px;
    margin-bottom: 15px;
}
.plan-card h6{
    font-size: 15px;
}

.price-plan{
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.plans-grid{
    display: flex;
    gap: 30px ;
    flex-wrap: wrap;
}

.plan-card{
    width: calc((100% - 60px) / 3);
        border: 1px solid #dcdcdc;

}


/* card orizzontale */

.plan-card-fullwidth{
    width: 100%;
    margin-top: 30px;
}


.card-body-horizontal{
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
    border: 1px solid #d5dde4;
    gap: 20px;
    padding: 30px;
}
   
.plan-details p{
    margin-top: 15px;
}

.plan-details h5{
    font-size: 18px;
    margin-bottom: 45px;

}

.plan-action{
    flex-shrink: 0;
}

.card-header-team{
    display: flex;

}

.billing-period {
    color: #6c757d;
    display: block;
}

.card-body ul{
    list-style: none;
    padding: 0;
    margin: 25px 0;

}

.card-body li{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    line-height: 1.5;

}

.buynow-link a{
    color: #0061ff;
    text-decoration: underline;

}

.features-list li, .highlights-list li {
    display: flex;
    align-items: flex-start; /* Correzione allineamento icona */
    gap: 10px;
    margin-bottom: 15px;
    line-height: 1.5;
}

.highlights-list .fa-check {
    color: #0061ff;
}

.card-body hr {
    border: none;
    border-top: 1px solid #dcdcdc;
    width: 50px;
    margin: 30px 0;
}

.buynow-link{
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
}
/* section partner */



.partner-section{
padding: 100px 0;

}

.partner-content{
    display: flex;
    gap: 30px;
    align-items: center;
}

.partner-img{
    width: 60%;
}

.partner-text{
    width: 40%;
}

.partner-img img{
    width: 100%;
}

.partner-text p {
    line-height: 1.7;
    margin-bottom: 30px;
}

/* section operation */

.operations-section h2{
    margin-top: 50px;

}

.operations-section {
    padding: 100px 0;
}

.operations-grid{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.operation-card{
    width: calc((100% - 60px) / 3);
}

.operation-card img{ 
    width: 100%;
}

/* Section team */

.team-section{
    padding: 100px 0;
    margin-bottom: 50px;
}

/* Footer */

footer{
    background-color: black;
    padding: 60px 0;
    color: white;
}


.footer-nav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    margin-bottom: 40px;
    
}

.nav-col{
    flex-basis: 20%;
}

.nav-col h4{
    margin-bottom: 20px;
    font-size: 18px;
}

.nav-col li {
    margin-bottom: 10px; 
}

.nav-col a{
    color: gray;
    text-decoration: none;
}

/* Footer bottom */

.footer-bottom{
    color: #8F9D96;
}